#banner2 {
  margin-top: 15px;
  background-color: #2d6a4f;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 125px;
}

.media-icons {
  height: 50px;
  display: inline;
  grid-row: 1/1;
}

.media-icons img {
  width: 50px;
  margin-right: 10px;
  margin-top: 40px;
}

#media-icons {
  z-index: 10;
}

#media-icons img {
  transition: 0.2s ease;
}

#media-icons img:hover {
  opacity: 0;
}

#resume:hover {
  color: #1b4332;
}

@media screen and (min-width: 600px) {
  #banner2 {
    height: 150px;
  }
  .media-icons img {
    width: 60px;
  }
}
@media screen and (min-width: 1200px) {
  #banner2 {
    height: 200px;
  }
  .media-icons img {
    width: 70px;
  }
}
html {
  scroll-behavior: smooth;
}

#banner {
  height: 57px;
  background-color: #52B788;
}

header {
  height: 57px;
  align-items: center;
}

#logo-con {
  display: flex;
}

#logo {
  height: 40px;
}

nav {
  display: none;
  justify-self: end;
}

nav ul li {
  display: inline;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0;
  border-bottom: solid 2px #52B788;
}

nav ul li a:hover {
  border-bottom: solid 2px #fff;
}

@media screen and (min-width: 600px) {
  #hamburger-menu {
    display: none;
  }
  nav {
    display: block;
  }
  #mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  nav ul li {
    margin-left: 120px;
  }
  nav ul li a {
    font-size: 24px;
  }
}
body {
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  color: #484848;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 619px) {
  body {
    overflow-x: hidden;
  }
  #mobile-menu {
    overflow-x: hidden;
  }
}
#hamburger-menu {
  height: 38px;
  width: 52px;
  justify-self: end;
}

#hamburger-menu:hover {
  height: 38px;
  width: 52px;
  justify-self: end;
  cursor: pointer;
}

#mobile-menu {
  background-color: #1b4332;
  height: 225px;
  width: 200px;
  position: absolute;
  right: -300px;
  top: 45px;
  z-index: 10;
  border-radius: 0;
  opacity: 90%;
  list-style: none;
  padding-left: 20px;
  display: none;
}

#mobile-menu li {
  margin-top: 10px;
}

#mobile-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.project {
  width: 320px;
  height: 160px;
  margin-top: 30px;
  justify-self: center;
  border: solid 10px #2d6a4f;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 420px) {
  .project {
    width: 400px;
    height: 200px;
  }
}
@media screen and (min-width: 600px) {
  .project {
    width: 560px;
    height: 280px;
  }
}
@media screen and (min-width: 900px) {
  .project {
    width: 860px;
    height: 430px;
  }
}
@media screen and (min-width: 1200px) {
  .project {
    width: 520px;
    height: 260px;
  }
}
@media screen and (min-width: 1400px) {
  .project {
    width: 600px;
    height: 300px;
  }
}
.expanded-title {
  font-size: 36px;
  color: #fff;
  background-color: #2d6a4f;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 30px;
}

.expanded-cover {
  max-width: 100%;
  border-radius: 10px;
}

#project-intro h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

#project-intro p {
  margin: 0;
  font-size: 18px;
}

#project-intro p:first-of-type {
  margin-bottom: 20px;
}

.portfolio-link {
  color: #52b788;
  text-decoration: underline;
}

#steps {
  margin-top: 20px;
  text-align: center;
}

.case-study {
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
  background-color: #2d6a4f;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.step-con {
  margin-top: 40px;
}

.step-title {
  font-size: 28px;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  justify-self: center;
}

.step-img {
  width: 50%;
  justify-self: center;
}

.step-details {
  font-size: 14px;
  text-align: center;
}

#bb-step1 {
  width: 80%;
}

#additional-con {
  margin-top: 40px;
  margin-bottom: 0;
}

.skill {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.skill span {
  color: #52b788;
  font-weight: 700;
}

#link-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.additional-link {
  color: #52b788;
  text-decoration: underline;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .expanded-title {
    font-size: 46px;
  }
  #steps {
    margin-top: 40px;
  }
  .case-study {
    font-size: 42px;
  }
  .step-title {
    font-size: 42px;
  }
  .step-details {
    font-size: 18px;
  }
  .skill {
    font-size: 18px;
  }
  #link-title {
    font-size: 24px;
  }
  .additional-link {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .expanded-title {
    font-size: 56px;
  }
  #project-intro h3 {
    font-size: 28px;
  }
  #project-intro p {
    font-size: 24px;
  }
  #steps {
    margin-top: 60px;
  }
  .case-study {
    font-size: 52px;
  }
  .step-title {
    font-size: 52px;
    justify-self: start;
  }
  .step-img {
    justify-self: start;
  }
  .step-details {
    font-size: 24px;
    text-align: left;
  }
  #conclusion-title {
    text-align: center;
  }
  .skill {
    font-size: 24px;
  }
  #link-title {
    font-size: 32px;
  }
  .additional_link {
    font-size: 32px;
  }
}
#controls {
  background-color: rgba(45, 106, 79, 0.9);
}

#controls button {
  background-color: transparent;
  border: none;
}

i {
  font-size: 24px;
  color: #46a178;
  margin-left: 5px;
  transition: all 0.5 ease;
  padding: 5px;
}

i:hover {
  color: #5fd6a5;
  cursor: pointer;
}

#vidcon {
  position: relative;
  display: flex;
}

#controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  display: flex;
}

#volume {
  margin-left: auto;
  margin-right: 5px;
}

/*********** Baseline, reset styles ***********/
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 8rem;
}

/* Removes default focus */
input[type=range]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type=range]::-webkit-slider-runnable-track {
  background-color: #46a178;
  border-radius: 1rem;
  height: 0.75rem;
}

/* slider thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -2px; /* Centers thumb on the track */
  background-color: #1b4332;
  border-radius: 0rem;
  height: 1rem;
  width: 0.4rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type=range]::-moz-range-track {
  background-color: #46a178;
  border-radius: 1rem;
  height: 0.75rem;
}

/* slider thumb */
input[type=range]::-moz-range-thumb {
  background-color: #1b4332;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0rem;
  height: 1rem;
  width: 0.4rem;
}

.option {
  margin-left: 10px;
  color: #52B788;
  text-decoration: underline;
}

.option:hover {
  cursor: pointer;
}

#project_list_con {
  margin-left: 20px;
  margin-right: 20px;
}

#project_list_con h1 {
  font-size: 24px;
}

.project_list {
  font-size: 18px;
  padding: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.project_list:nth-child(even) {
  background-color: rgb(226, 226, 226);
}

#add_project_con {
  margin-left: 20px;
  margin-right: 20px;
}

#add_project_con h2 {
  font-size: 24px;
}

#add_project_con form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#add_project_con form input {
  margin-bottom: 10px;
  padding: 5px;
}

#add_project_con form input:focus {
  margin-bottom: 10px;
  padding: 5px;
  color: #484848;
}

#add_project_con form input[type=submit]:hover {
  cursor: pointer;
}

#hero {
  margin-top: 15px;
}

#hero-con {
  display: flex;
  flex-direction: column;
}

#intro {
  font-size: 24px;
  margin: 0;
  line-height: 30px;
}

#intro span {
  color: #52b788;
  font-weight: bold;
  font-size: 48px;
}

#intro span:last-of-type {
  font-size: 24px;
}

#photo {
  height: 200px;
}

#margin {
  height: 20px;
  width: 100%;
  background-color: #52B788;
  justify-self: flex-end;
  margin-top: -20px;
  opacity: 90%;
}

#brief-desc {
  font-size: 16px;
  text-align: center;
}

.button {
  background-color: #52B788;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.5s ease;
}

.button:hover {
  cursor: pointer;
  background-color: #2D6A4F;
}

#demo-reel {
  text-align: center;
}

.subtitle {
  color: #52B788;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

#demo-reel p {
  font-size: 24px;
  margin-top: 0;
}

#video {
  width: 100%;
  justify-self: center;
  border: 5px solid #2D6A4F;
}

@media screen and (min-width: 600px) {
  #intro {
    font-size: 32px;
    margin: 0;
    line-height: 40px;
  }
  #intro span {
    color: #52b788;
    font-weight: bold;
    font-size: 48px;
  }
  #intro span:last-of-type {
    font-size: 32px;
  }
  #photo {
    height: 240px;
  }
  #margin {
    height: 40px;
    margin-top: -40px;
  }
  #brief-desc {
    font-size: 18px;
    text-align: left;
  }
  .button {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #hero {
    margin-top: 20px;
  }
  #bio {
    margin-top: 20px;
  }
  #demo-reel {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  #hero {
    margin-top: 50px;
  }
  #intro {
    font-size: 60px;
    margin: 0;
    line-height: 60px;
  }
  #intro span {
    color: #52b788;
    font-weight: bold;
    font-size: 100px;
  }
  #intro span:last-of-type {
    font-size: 60px;
  }
  #photo {
    height: 475px;
  }
  #margin {
    height: 70px;
    margin-top: -70px;
  }
  #brief-desc {
    font-size: 24px;
  }
  .button {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
  }
  .subtitle {
    font-size: 64px;
  }
  #demo-reel p {
    font-size: 48px;
  }
  #demo-reel h3, p {
    text-align: left;
  }
}
#about {
  margin-top: 100px;
}

#about-banner {
  position: fixed;
  top: 0;
  height: 57px;
  background-color: #52b788;
  width: 100%;
  z-index: 10;
}

#profile {
  width: 225px;
  justify-self: center;
  border-radius: 50%;
  border: solid 10px #52b788;
}

#desc1 {
  margin-top: 15px;
  font-size: 18px;
  text-align: left;
  font-weight: 500;
}

#cityscape-con {
  position: relative;
}

#cityscape {
  position: absolute;
  top: 0;
  z-index: -10;
}

.desc2 {
  background-color: #2D6A4F;
  color: #fff;
  border-radius: 30px;
  padding: 50px;
  font-size: 18px;
}

#conclusion-con {
  margin-top: 500px;
  margin-bottom: 100px;
}

@media screen and (min-width: 600px) {
  #profile {
    width: 260px;
  }
  #desc1 {
    margin-top: 20px;
    font-size: 24px;
  }
  #desc2 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  #profile {
    width: 400px;
  }
  #desc1 {
    text-align: left;
    align-self: end;
    font-size: 28px;
  }
  .desc2 {
    font-size: 28px;
  }
}
#gallery-intro {
  height: 100px;
  margin-top: 15px;
}

.project:hover {
  cursor: pointer;
}

.project:hover .project-title {
  opacity: 90%;
}

.project-title {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 100%;
  background-color: #2d6a4f;
  opacity: 90%;
  transition: all 0.5s ease-in;
}

.project-title h3 {
  text-align: center;
  color: #fff;
  font-size: 24px;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
}

#project-image {
  margin-top: 20px;
  height: 270px;
}

#project-desc {
  margin-top: 15px;
  height: 140px;
}

#additional-desc {
  margin-top: 15px;
  height: 180px;
}

#case-study-button {
  margin-top: 10px;
  height: 50px;
}

#read-more {
  margin-top: 10px;
  height: 35px;
  align-self: end;
}

#read-more:hover {
  cursor: pointer;
}

#read-more p {
  font-size: 14px;
}

@media screen and (min-width: 600px) {
  #project-image {
    height: 350px;
  }
  #project-desc {
    margin-top: 20px;
    height: 250px;
  }
  #additional-desc {
    margin-top: 20px;
    height: 300px;
  }
  #case-study-button {
    margin-top: 15px;
    height: 70px;
  }
  #read-more {
    margin-top: 15px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .project-title {
    opacity: 0%;
  }
  #project-image {
    width: 550px;
  }
  #project-desc {
    height: 300px;
  }
  #additional-desc {
    height: 380px;
  }
  #case-study-button {
    height: 80px;
  }
  #read-more {
    height: 60px;
  }
}
.study {
  margin-top: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.study:hover {
  cursor: pointer;
}

.study:hover .study-title {
  opacity: 100%;
}

.study-title {
  height: 20%;
  width: 80%;
  background-color: #52b788;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.5s ease;
}

.thumbnail {
  margin-top: 20px;
  height: 220px;
}

#subpage-title {
  margin-top: 20px;
  height: 40px;
}

.subpage-intro {
  margin-top: 15px;
  height: 100px;
}

.step {
  margin-top: 60px;
}

.step-title {
  height: 40px;
}

.step-text {
  margin-top: 15px;
  height: 120px;
}

@media screen and (min-width: 600px) {
  .study {
    height: 500px;
  }
  .step {
    margin-top: 100px;
  }
  #subpage-title {
    height: 60px;
  }
  .thumbnail {
    height: 350px;
  }
  .subpage-intro {
    height: 140px;
  }
  .step-title {
    height: 60px;
  }
  .step-text {
    height: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .study {
    height: 400px;
  }
  .step {
    margin-top: 150px;
  }
  #subpage-title {
    height: 80px;
  }
  .thumbnail {
    height: 500px;
  }
  .subpage-intro {
    height: 160px;
  }
  .step-text {
    height: 220px;
  }
}
#contact-title {
  margin-top: 20px;
  height: 40px;
}

.contact-box {
  height: 50px;
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  padding: 25px;
  border: solid 1px #2D6A4F;
  border-radius: 12px;
  color: #52B788;
  font-family: "Nunito", sans-serif;
}

.contact-box::placeholder {
  color: #52B788;
  font-family: "Nunito", sans-serif;
  opacity: 1;
}

#message {
  height: 130px;
}

input:focus {
  color: #52B788;
}

input:active {
  color: #52B788;
}

#submit {
  margin-top: 10px;
  border: none;
  padding-left: 60px;
  padding-right: 60px;
  justify-self: center;
}

@media screen and (min-width: 600px) {
  .contact-box {
    height: 70px;
    margin-top: 15px;
    border: solid 2px #2D6A4F;
    border-radius: 18px;
    font-size: 18px;
  }
  #message {
    height: 200px;
  }
  #submit {
    margin-top: 15px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-box {
    height: 100px;
    border: solid 2px #2D6A4F;
    border-radius: 24px;
    font-size: 24px;
    margin-top: 20px;
  }
  #message {
    height: 350px;
  }
  #submit {
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
