.option {
    margin-left: 10px;
    color: #52B788;
    text-decoration: underline;
}

.option:hover {
    cursor: pointer;
}

#project_list_con {
    margin-left: 20px;
    margin-right: 20px;
}

#project_list_con h1 {
    font-size: 24px;
}

.project_list {
    font-size: 18px;
    padding: 15px;
    margin-bottom: 0;
    margin-top: 0;
}

.project_list:nth-child(even) {
    background-color: rgb(226, 226, 226);
}

#add_project_con {
    margin-left: 20px;
    margin-right: 20px;
}

#add_project_con h2 {
    font-size: 24px;
}

#add_project_con form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#add_project_con form input {
    margin-bottom: 10px;
    padding: 5px;
}

.cms input:focus {
    margin-bottom: 10px;
    padding: 5px;
    color: #484848;
}

.cms input {
    font-family: 'Nunito', sans-serif;
    color: #484848;
}

.cms textarea {
    font-family: 'Nunito', sans-serif;
    color: #484848;
}

#add_project_con form input[type="submit"]:hover {
    cursor: pointer;
}

#edit_project_form {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

#edit_project_form label {
    margin-bottom: 10px;
    font-size: 18px;
}

#edit_project_form input {
    margin-bottom: 10px;
    padding: 5px;
}

#edit_project_form textarea {
    margin-bottom: 10px;
    height: 200px;
    padding: 5px;
}