#controls {
    background-color: rgba($color: #2d6a4f, $alpha: 0.9);
}

#controls button {
    background-color: transparent;
    border: none;
}

i {
    font-size: 24px;
    color: #46a178;
    margin-left: 5px;
    transition: all 0.5 ease;
    padding: 5px;
} 

i:hover {
    color: #5fd6a5;
    cursor: pointer;
}

#vidcon {
    position: relative;
    display: flex;
}

#controls {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
    display: flex;
}

#volume {
    margin-left: auto;
    margin-right: 5px;
}