#controls {
    background: linear-gradient(0deg, rgba(45,106,79,0.3) 35%, rgba(82,183,136,0.3) 100%);
}

#controls button {
    background-color: transparent;
    border: none;
}

i {
    font-size: 24px;
    color: #2d6a4f;
} 