#banner2 {
    margin-top: 15px;
    background-color: #2d6a4f;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 100px;
}

.media-icons {
    height: 50px;
    display: inline;
    grid-row: 1/1;
}

.media-icons img {
    width: 50px;
    margin-right: 10px;
    margin-top: 40px;
}

#media-icons {
    z-index: 10;
}

#media-icons img {
    transition: 0.2s ease;
}

#media-icons img:hover {
    opacity: 0;
}

#resume:hover {
    color: #1b4332;
} 

@media screen and (min-width: 600px) {
    #banner2 {
        height: 100px;
    }

    .media-icons img {
        width: 50px;
    }
}

@media screen and (min-width: 1200px) {
    #banner2 {
        height: 100px;
    }

    .media-icons img {
        width: 50px;
    }
}