.project {
    width: 320px;
    height: 160px;
    margin-top: 30px;
    justify-self: center;
    border: solid 10px #2d6a4f;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 420px) {
    .project {
        width: 400px;
        height: 200px;
    }
}

@media screen and (min-width: 600px) {
    .project {
        width: 560px;
        height: 280px;
    }
}

@media screen and (min-width: 900px) {
    .project {
        width: 860px;
        height: 430px;
    }
}

@media screen and (min-width: 1200px) {
    .project {
        width: 520px;
        height: 260px; 
    }
}

@media screen and (min-width: 1400px) {
    .project {
        width: 600px;
        height: 300px;
    }
}