#about {
    margin-top: 100px;
}

#about-banner {
    position: fixed;
    top: 0;
    height: 57px;
    background-color: #52b788;
    width: 100%;
    z-index: 10;
}

#profile {
    width: 225px; 
    justify-self: center;
    border-radius: 50%;
    border: solid 10px #52b788;
}

#desc1 {
    margin-top: 15px;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
}

#cityscape-con {
    position: relative;
}

#cityscape {
    position: absolute;
    top: 0;
    z-index: -10;
}

.desc2 {
    background-color: #2D6A4F;
    color: #fff;
    border-radius: 30px;
    padding: 50px;
    font-size: 18px;
}

#conclusion-con { 
    margin-top: 500px;
    margin-bottom: 100px;
}

@media screen and (min-width: 600px) {
    #profile {width: 260px;}
    #desc1 {margin-top: 20px; font-size: 24px;}
    #desc2 {font-size: 24px;}
}

@media screen and (min-width: 1200px) {
    #profile {width: 400px;}
    #desc1 {
        text-align: left;
        align-self: end;
        font-size: 28px;
    }
    .desc2 {
        font-size: 28px;
    }
}

