#contact-title {
    margin-top: 20px;
    height: 40px;
}

.contact-box {
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border: solid 1px #2D6A4F;
    border-radius: 0.5rem;
    color: #52B788;
    font-family: 'Nunito', sans-serif;
}

.contact-box::placeholder {
   color: #52B788;
   font-family: 'Nunito', sans-serif;
   opacity: 1; //for firefox support
}

#message {
    height: 100px;
    resize: none;
    width: 100%;
}

input:focus {
    color: #52B788;
}

input:active {
    color: #52B788;
}

#submit {
    margin-top: 10px;
    border: none;
    padding-left: 60px;
    padding-right: 60px;
    justify-self: center;
}

@media screen and (min-width: 600px) {
    .contact-box {
        margin-top: 15px;
        border: solid 1px #2D6A4F;
        font-size: 12px;
    }

    #message {height: 100px;}

    #submit {
        margin-top: 15px;
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (min-width: 1200px) {
    .contact-box {
        padding: 20px;
        border: solid 2px #2D6A4F;
        font-size: 18px;
        margin-top: 20px;
    }

    #message {
    height: 200px;  
    }

    #submit {
        margin-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
    }
}