
#hero {
    margin-top: 15px;
}

#intro {
    font-size: 24px;
    margin: 0;
    line-height: 30px;
}

#intro span {
    color: #52b788;
    font-weight: bold;
    font-size: 48px;
}

#intro span:last-of-type {
    font-size: 24px;
}

#container {
    position: relative;
}

#photo {
    height: 200px;
    width: 200px;
}

#margin {
    height: 40px;
    width: 100%;
    background-color: rgba($color: #52b788, $alpha: 0.5);
    position: absolute;
    bottom: 0px;
}

#brief-desc {
    font-size: 16px;
    text-align: center;
} 

.button {
    background-color: #52B788;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.5s ease;
}

.button:hover {
    cursor: pointer;
    background-color: #2D6A4F;
}

#demo-reel {
    text-align: center;
}

.subtitle {
    color: #52B788;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

#demo-reel p {
    font-size: 24px;
    margin-top: 0;
}

#video {
    margin-top: 15px;
    height: 280px;
}

@media screen and (min-width: 600px) {
    #intro {
        font-size: 32px;
        margin: 0;
        line-height: 40px;
    }
    
    #intro span {
        color: #52b788;
        font-weight: bold;
        font-size: 48px;
    }
    
    #intro span:last-of-type {
        font-size: 32px;
    }
    
    #photo {height: 285px;}
    #margin {height: 50px;}

    #brief-desc {
        font-size: 18px;
        text-align: left;
    }

    .button {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #video {height: 430px; margin-top: 20px;}

    #hero {margin-top: 20px;}
    #bio{margin-top: 20px;}
    #demo-reel{margin-top: 20px;}
}

@media screen and (min-width: 1200px) {
    #hero {
        margin-top: 50px;
    }

    #intro {
        font-size: 60px;
        margin: 0;
        line-height: 60px;
    }
    
    #intro span {
        color: #52b788;
        font-weight: bold;
        font-size: 100px;
    }
    
    #intro span:last-of-type {
        font-size: 60px;
    }
    #photo {height: 475px;}
    #margin {height: 80px;}

    #brief-desc {
        font-size: 24px;
    }

    .button{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 24px;
    }

    .subtitle {
        font-size: 64px;
    }

    #demo-reel p {
        font-size: 48px;
    }

    #demo-reel h3,p {
        text-align: left;
    }

    #video {height: 1000px ;} 

}

