#gallery-intro {
    height: 100px;
    margin-top: 15px;
}

.project:hover {
    cursor: pointer;
}

.project:hover .project-title{
    opacity: 90%;
}

.project-title {
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
    background-color: #2d6a4f;
    opacity: 90%;
    transition: all 0.5s ease-in;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.project-title h3 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

#project-image {
    margin-top: 20px;
    height: 270px
}

#project-desc {
    margin-top: 15px;
    height: 140px;
}

#additional-desc {
    margin-top: 15px;
    height: 180px;
}

#case-study-button {
    margin-top: 10px;
    height: 50px;
}

#read-more {
    margin-top: 10px;
    height: 35px;
    align-self: end;
}

#read-more:hover {
    cursor: pointer;
}

#read-more p {
    font-size: 14px;
}

@media screen and (min-width: 600px) {
    #project-image {
        height: 350px;
    }

    #project-desc {
        margin-top: 20px;
        height: 250px;
    }

    #additional-desc {
        margin-top: 20px;
        height: 300px;
    }

    #case-study-button {
        margin-top: 15px;
        height: 70px;
    }

    #read-more {
        margin-top: 15px;
        height: 50px;
    }

}

@media screen and (min-width: 1200px) {
    .project-title {
        opacity: 0%;
    }

    #project-image {
        width: 550px;
    }

    #project-desc {
        height: 300px;
    }

    #additional-desc {
        height: 380px;
    }

    #case-study-button {
        height: 80px;
    }

    #read-more {
        height: 60px;
    }
}